@media only screen and (min-width: 776px) {
    .ptitle {
        font-size: 40px;
        color: whitesmoke;
    }

    .htitle {
        font-size: 80px;
        color: rgba(255, 255, 255, 0.983);
    }

    .mtitel {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 200px;
        margin-right: 200px;
    }

    .course {
        color: rgb(19, 165, 250);
        font-size: 60px;
        font-weight: 800;
    }
}

.mtitel {
    padding-top: 40px;
    text-align: center;
}