@media only screen and (min-width: 776px) {
    .ptitle {
        font-size: 40px;
        color: whitesmoke;
    }

    .htitle {
        font-size: 80px;
        color: rgba(255, 255, 255, 0.983);
    }

    .mtitel {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .course {
        color: rgb(0, 0, 0);
        font-size: 60px;
        font-weight: 700;
        padding-right: 120px;
        padding-left: 120px;
    }

    .pcorse {
        font-size: 18px;
        margin-right: 150px;
        margin-left: 150px;
    }

    .ready-join {
        display: flex;
        border-radius: 20px;
        color: white;
        width: 1320px;
        height: 300px;
        padding-left: 50px;
        margin-bottom: 30px;

    }

    .join-register {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
        font-weight: 700;
        color: rgb(17, 45, 255);
        margin: 50px;
    }

    .std-section {
        position: relative;
        width: 556px;
        height: 100px;
    }

    .view-btn {
        width: 25%;
        margin-bottom: 20px;
    }

    /* .small-course {
        display: flex;
    } */
}

@media only screen and (max-width:576px) {
    .small-course {
        /* background-color: rgb(130, 130, 243); */
        /* display: block; */

    }

    .ready-join {
        /* display: block; */
    }

    .small-join {
        text-align: center;
        padding: 20px;
    }
}

.mtitel {
    padding-top: 40px;
    text-align: center;
    margin-top: 20px;
}